Aaron S. Lav <asl2@pobox.com>
Dan Scott <dan@coffeecode.net> <gitorious@coffeecode.net>
Eric Hellman <eric@hellman.net>
Edward Betts <edward@4angle.com> <edwardbetts@gmail.com>
James Tayson <james.taysom@gmail.com>
Nick Ruest <ruestn@gmail.com>
Geoffrey Spear <geoffspear@gmail.com> <speargh@pitt.edu>
